/* Stylesheet for the application */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}


.order-table{
    border-collapse: collapse; /* Vi laver border imellem hvert felt senere, og derfor vil der komme dobbelt nogle steder hvis denne ikke er væk */
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 400px;
}

.order-table td, .order-table th{
    border: 1px solid #ddd;
    padding: 10px;
}

.order-table tr:nth-child(even){ /*  hver anden række grå*/
    background-color: silver;
}
body {
    background-color: white;
}

header {
    border-color: orange;
}
main{
    border-color: black;
}

footer{
    border-color: greenyellow;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: grey;
}


.generic-form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.generic-form [type=text], .generic-form [type=password] {
    padding: 10px;
    font-size: 1.2rem;
    border: #c3c0d6;
    color: black;
    border: none;
}

.generic-form button {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #535ce1;
    color: white;
    border: #c3c0d6;
    border: none;
}

.basket-btn {
    background-color: white;
    border: 2px solid black;
    color: green;
    padding: 5px,10px;
    /* Corrected padding values */
    cursor: pointer;
}


 /* Style The Dropdown Button */
 .dropbtn {
     background-color: grey;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
 }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: purple;
}

/**** Login + logout styles ****/

.index-Login-Button {
    color: black;
    border: none;
    background-color: white;
}
.index-Logout-Button{
    color: black;
    border: none;
    background-color: white;
}


/*** Customer page styles ****/

.customer-table{
    border-collapse: collapse; /* Vi laver border imellem hvert felt senere, og derfor vil der komme dobbelt nogle steder hvis denne ikke er væk */
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 400px;
}
.customer-table td, .customer-table th{
    border: 1px solid #ddd;
    padding: 10px;
}

.customer-table tr:nth-child(even){ /*  hver anden række grå*/
    background-color: silver;
}
