<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
<h1>Din Indkøbskurv</h1>
<ul>
    <li th:each="item : ${basket}">
        <span th:text="'Bottom: ' + ${item.bottomName}"></span>
        <span th:text="'Topping: ' + ${item.toppingName}"></span>
        <span th:text="'Quantity: ' + ${item.quantity}"></span>
        <span th:text="'Price: ' + ${item.price}"></span>
        <form method="post">
            <button type="submit" th:formaction="@{/removeitem(bottomId=${item.bottomId}, toppingId=${item.toppingId})}">Fjern</button>
        </form>
    </li>
</ul>

<p><strong>Ordre total: </strong>
    <span th:text="${totalPrice}"></span>
</p>

<a href="/" th:href="@{/}"><button>Tilbage</button></a>

<form method="post">
    <button type="submit" formaction="/cancel-order" th:formaction="@{/cancel-order}">Annullér ordrer</button>
</form>

<form method="post">
    <button type="submit" formaction="/checkout" th:formaction="@{/checkout}">Køb</button>
</form>

<div class="email-on-page">
    <span th:if="${session.email != null}" th:text="${session.email}" class="email-address">
    Dette er min email på hver side</span>
</div>
</body>
</html>
