<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Basket</title>
</head>
<body>
<h1>Your Basket</h1>
<ul>
    <li th:each="item : ${basket}">
    <span th:text="'Bottom: ' + ${item.bottomName}"></span> -
    <span th:text="'Topping: ' + ${item.toppingName}"></span> -
    <span th:text="'Quantity: ' + ${item.quantity}"></span> -
    <span th:text="'Price: $' + ${item.price}"></span>
    </li>
</ul>
<a href="/" th:href="@{/}">
    <button>Back</button>
</a>
<a href="/checkout" th:href="@{/checkout}">
    <button>Buy</button>
</a>
</body>
</html>
