<!DOCTYPE html>
<html lang="en">
<title>Create-user</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>
<div class="page-container">
    <header>
        <a href="index.html" th:href="@{/}">
            <img class="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"
                 alt="Cup cake logo">
        </a>
    </header>

    <h1>Here you can create a profile</h1>

    <form class="generic-form" method="post">
        <input type="email" name="email" placeholder="Enter email" required/>
        <input type="password" name="password1" placeholder=" Enter password" required/>
        <input type="password" name="password2" placeholder=" Enter password again" required/>

        <button type="submit" formaction="/createuser">Create profile</button>
    </form>

    <a href="/" th:href="@{/}">
        <button>Tilbage til forsiden</button>
    </a>

</div>
</body>
</html>