<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>


<header>
    <div class="email-on-page">
    <span th:if="${session.email != null}" th:text="${session.email}" class="email-address">
    Email</span>
    </div>
    <br>

    <a href="index.html" th:href="@{/index}">
        <button class="rounded-btn">Tilbage til forsiden</button>
    </a>


</header>

<body style="background-color:#D8BFD8;">
<form class="generic-form" method="post">
    <table class="customer-table">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>Customer Email</th>
            <th>Customer Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${customersList}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.balance}"></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>