<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <a href="index.html" th:href="@{/}">
        <img class="logo" src="/public/images/cupcakelogo.png"
             th:src="@{/images/cupcakelogo.png}" alt="cupcakelogo">
    </a>
    <h1>Olsker Cupcakes</h1>
</header>


<a href="/basket" th:href="@{/basket}"></a>
<button>
    Læg i kurv
</button>

<a href="/checkout" th:href="@{/checkout}"></a>
<button>
    Basket icon
</button>

<a href="/orders" th:href="@{/orders}"></a>
<button>
    Ordrer
</button>

<a href="/customer" th:href="@{/customer}" th:if="${session.role == 'admin'}">
    <button>
        Kunder
    </button>
</a>


<h2>Velkommen ombord</h2>
<p>Øens bedste cupcakes. Vælg og bestil her: </p>

<div class="dropdown">
    <button class="dropbtn">Vælg bund</button>
    <div class="dropdown-content">
        <a href="#">Chocolate</a>
        <a href="#">Vanilla</a>
        <a href="#">Nutmeg</a>
    </div>
</div>

<div class="dropdown">
    <button class="dropbtn">Vælg topping</button>
    <div class="dropdown-content">
        <a href="#">Chocolate</a>
        <a href="#">Blueberry</a>
        <a href="#">Raspberry</a>
    </div>
</div>

<div class="dropdown">
    <button class="dropbtn">Vælg antal</button>
    <div class="dropdown-content">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
    </div>
</div>

<form class="index-Login-Button" method="post">
    <button type="submit" formaction="/login">Login</button>
</form>

</body>
</html>
