<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>


<header>
    <a href="index.html" th:href="@{/}">
        <img class="logo" src="/public/images/cupcakelogo.png"
             th:src="@{/images/cupcakelogo.png}" alt="cupcakelogo">
    </a>
    <h1>Olsker Cupcakes</h1>
</header>

<a href="/orders" th:href="@{/orders}">
    <button>
        Ordrer
    </button>
</a>

<a href="/orders" th:href="@{/customers}">
    <button>
        Kunder
    </button>
</a>

<a href="/login" th:ref="@{/login}">
    <button>
        Log ind / Tilmeld
    </button>
</a>

<a href="/checkout" th:href="@{/checkout}">
    <button>Indkøbskurv</button>
</a>

<h2>Velkommen ombord</h2>
<p>Øens bedste cupcakes. Vælg og bestil her: </p>

<form action="/add-to-basket" method="post" th:action="@{/add-to-basket}">

    <div class="dropdown">
        <select name="bottom" id="bottom" required> <!-- "required" makes it impossible to submit before choosing an option! -->
            <option value="" disabled selected>Vælg bund</option> <!-- Default option -->
            <option value="Chocolate">Chocolate</option>
            <option value="Vanilla">Vanilla</option>
            <option value="Nutmeg">Nutmeg</option>
        </select>
    </div>

    <div class="dropdown">
        <select name="topping" id="topping" required>
            <option value="" disabled selected>Vælg topping</option> <!-- Default option -->
            <option value="Chocolate">Chocolate</option>
            <option value="Blueberry">Blueberry</option>
            <option value="Raspberry">Raspberry</option>
        </select>
    </div>

    <div class="dropdown">
        <select name="quantity" id="quantity" required>
            <option value="" disabled selected>Vælg antal</option> <!-- Default option -->
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <button type="submit">Læg i kurv</button>
</form>


<div >

    <a th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout}"> Log out </a>
    <span th:if="${session.currentUser != null}"> </span>
</div>

</body>
</html>



