<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<title>Cupcake-login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>
<div class="page-container">
    <header>
        <a href="login.html" th:href="@{/login}">
            <img class="logo" src="/public/images/olsker_cupcakes_200x200.png"
                 th:src="@{/images/olsker_cupcakes_200x200.png}" alt="cupcakelogo">
        </a>
        <br>
    </header>
    <form class="generic-form" method="post" action="/login">
        <input type="email" name="email" placeholder="Enter email" required/>
        <input type="password" name="password" placeholder="Enter password" required/>
        <button type="submit">Login</button>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </form>

    <footer>
        <div class="create-user-form">
            <a href="createuser.html" th:href="@{/createuser}">
                <button>Opret bruger</button>
            </a>
        </div>

        <div>
            <a href="/" th:href="@{/}">
                <button>Tilbage til forsiden</button>
            </a>
        </div>
    </footer>
</div>

</body>
</html>