<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>
<div class="page-container">
    <form class="generic-form" method="post" action="/login">
        <input type="text" name="email" placeholder="Enter email"/>
        <input type="password" name="password" placeholder="Enter password"/>
        <button type="submit">Login</button>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </form>
    <footer>
        <div class="create-user-form">
            <a href="createuser.html" th:href="@{/createuser}">Create User</a>
        </div>
        <div>
            <a href="index.html" th:href="@{/index}">Back to front page </a>
        </div>
    </footer>
</div>

</body>
</html>