<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ordredetaljer</title>
</head>
<body>
<h1>Ordredetaljer #<span th:text="${orderId}"></span></h1>

<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<table>
    <thead>
    <tr>
        <th>Bottom</th>
        <th>Topping</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${orderDetails}">
        <td th:text="${item.bottomName}"></td>
        <td th:text="${item.toppingName}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.price}"></td>
    </tr>
    </tbody>
</table>
<a href="/orders" th:href="@{/orders}">Tilbage til alle ordrer</a>
</body>
</html>
