<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Orders</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<div>
    <a href="index.html" th:href="@{/index}"> Back to front page </a>
</div>

<body>
<form class="generic-form" method="post">
    <table class="order-table">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Email</th>
            <th>Order Date</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderList}">
            <td>
                <a th:href ="@{/orderdetails(orderId=${order.orderId})} " th:text="${order.orderId}"></a>
            </td>
            <td th:text="${order.email}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td>
                <form th:if="${role == 'admin'}" method="post">
                    <button type="submit" formaction="/deleteorder" th:formaction="@{/deleteorder(orderId=${order.orderId})}">Slet ordrer</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<div class="email-on-page">
    <span th:if="${session.email != null}" th:text="${session.email}" class="email-address">
    Dette er min email på hver side</span>
</div>


</body>
</html>
