<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Receipt</title>
</head>
<body>
<h1>Kvittering</h1>
<h2>Tak for at handle hos Olsker!</h2>

<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<p>Ordrer ID: <span th:text="${orderId}"></span></p>
<ul>
    <li th:each="item : ${orderDetails}">
        <span th:text="'Bund: ' + ${item.bottomName}"></span> -
        <span th:text="'Topping: ' + ${item.toppingName}"></span> -
        <span th:text="'Antal: ' + ${item.quantity}"></span> -
        <span th:text="'Pris: ' + ${item.price} + ' kr.'"></span>
    </li>
</ul>
<a href="/" th:href="@{/}">
    <button>Tilbage til forsiden</button>
</a>

<div class="email-on-page">
    <span th:if="${session.email != null}" th:text="${session.email}" class="email-address">
    Dette er min email på hver side</span>
</div>
</body>
</html>
