<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Kvittering</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>


<header>
    <div class="email-on-page">
    <span th:if="${session.email != null}" th:text="${session.email}" class="email-address">
    Email</span>
    </div>
    <a href="/" th:href="@{/}">
        <button class="rounded-btn">Tilbage til forsiden</button>
    </a>


</header>

<h1>Kvittering</h1>
<h2>Tak for at handle hos Olsker!</h2>

<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<p>Ordrer ID: <span th:text="${orderId}"></span></p>

<body style="background-color:#D8BFD8;">
<form class="generic-form" method="post">
    <table class="customer-table">
    <thead>
        <tr>
            <th>Bund</th>
            <th>Topping</th>
            <th>Antal</th>
            <th>Total pris</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${orderDetails}">
        <td th:text="${item.bottomName}"></td>
        <td th:text="${item.toppingName}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.price}"></td>
    </tr>
    </tbody>
    </table>
</form>

<h2><strong>Ordre total: </strong>
    <span th:text="${totalPrice}"></span>
</h2>

</body>
</html>
