<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Receipt</title>
</head>
<body>
<h1>Kvittering</h1>
<h2>Tak for at handle hos Olsker!</h2>
<p>Ordrer ID: <span th:text="${orderId}"></span></p>
<ul>
    <li th:each="item : ${orderDetails}">
        <span th:text="'Bottom: ' + ${item.bottomName}"></span> -
        <span th:text="'Topping: ' + ${item.toppingName}"></span> -
        <span th:text="'Quantity: ' + ${item.quantity}"></span> -
        <span th:text="'Price: $' + ${item.price}"></span>
    </li>
</ul>
<div class="back-to-home">
    <a href="/" th:href="@{/}">
        <button>Tilbage til forsiden</button>
    </a>
</div>

<div class="email-on-page">
    <span th:if="${session.email != null}" th:text="${session.email}" class="email-address">
    Dette er min email på hver side</span>
</div>

</body>
</html>
